@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: walkway;
  src: url("/fonts/Walkway_Black.woff2");
}





*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  width: 100%;
  padding: 0 20px;
  background-color: #171717;
  /* background-color: #909090; */
}

/* 640 */
@media screen and (min-width:640px) {
  body{
    padding: 0 20px;
  }
}


/* 768 */
@media screen and (min-width: 768px) {
  body{
    padding: 0 10vw;
  }
}

/* 1024 */
@media screen and (min-width: 1024px) {
  
  body{
    padding: 0 23vw;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scale{
  background-color: aqua;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: auto;
  max-height: 95vh;
  aspect-ratio: auto 1/5;

}
